button {
          padding: 15px 20px;
          color: white;
          font-weight: bold;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 25px;
          background-color: #C33D3A;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
}