.details {
  padding: 90px 80px;
  &__container {
    display: flex;

    &__left {
      width: 50%;
      &__image {
        img {
          max-width: 550px;
          object-fit: cover;
          height: auto;
        }
      }
    }

    &__right {
      width: 50%;

      &__title {
        color: #292929;
        line-height: 10px;
      }
      &__review {
        display: flex;
        align-items: center;
        p {
          padding-left: 10px;
        }
      }

      &__price {
        font-size: 24px;
        font-weight: bold;
        color: #c33d3a;
      }

      &__desc {
        color: #292929;
      }

      &__info {
        display: flex;
        align-items: center;
        &__popular {
          padding-left: 10px;
        }
        p {
          span {
            color: #292929;
          }
        }
      }

      &__cart {
        display: flex;
        align-items: center;
        margin-top: 50px;
        &__add {
          display: flex;
          align-items: center;
          &__btn {
            margin-left: 30px;
            display: block;
            border-radius: 25px;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
              serif;
            background-color: #c33d3a;
            color: white;
            font-weight: 500;
            width: 320px;
            text-align: center;
            padding: 8px 0;

            cursor: pointer;
          }

          &__wishlist {
            margin-left: 30px;
            font-size: 20px;
            position: relative;
            cursor: pointer;
            &:hover {
              color: #c33d3a;
              p {
                opacity: 1;
              }
            }
            p {
              position: absolute;
              font-size: 10px;
              min-width: 70px;
              text-align: center;
              top: -100%;
              background-color: #292929;
              color: white;
              opacity: 0;
            }
          }
        }
        &__quantity {
          display: flex;
          align-items: center;
          &__minus {
            padding-right: 30px;
            cursor: pointer;
          }
          &__num {
            padding-right: 30px;
          }
          &__plus {
            cursor: pointer;
          }
        }
      }

      &__freeship {
        margin-top: 40px;
        &__box {
          border-left: 4px solid #c33d3a;
          display: flex;
          align-items: center;
          margin-top: 8px;
          &__logo {
            font-size: 23px;
            color: #c33d3a;
            padding-left: 5px;
          }
          p {
            margin-left: 10px;
            color: #292929;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .details {
    padding: 30px;
    &__container {
      &__left {
        width: 50%;
      }
      &__right {
        margin-left: 15px;
        &__cart {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .details {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__right {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .details {
    padding: 0 30px;
  }
}

@media screen and (max-width: 414px) {
  .details {
    padding: 0 15px;
    &__container {
      &__right {
        &__cart {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
         
          &__add {
            display: flex;
            align-items: center;
           
            max-width: 260px;
            margin-top: 20px;
            padding: 10px 30px 10px 0;
           
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .details {
    padding: 0 15px;
    &__container {
      &__right {
        &__cart {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
         
          &__add {
            display: flex;
            align-items: center;
           
            max-width: 260px;
            margin-top: 20px;
            padding: 10px 30px 10px 0;
           
          }
        }
      }
    }
  }
}
